<div class="row">
  <div class="col-xl-6">
    <div class="card mlr-auto max-width-create-reservation">
      <div class="card-header">
        <h4 class="card-title">{{createReservationConstants.CREATE_RESERVATION}}</h4>
      </div>
      <div class="card-body">
        <form name="form"
              #f="ngForm"
              (ngSubmit)="f.form.valid && isDateRight() && isTimeInOpeningHours() &&
                  isTimeRight() && isHostsCountRight() && isTimeBeforeClosing() &&
                  sendNewReservationData()">

          <!--  email row -->
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="email"><i class="fa fa-envelope"></i>Emailová adresa<span class="mandatory">*</span></label>
                <input id="email"
                       name="email"
                       placeholder="Email"
                       class="form-control"
                       type="text"
                       [(ngModel)]="reservation.hostInfo.email"
                       #email="ngModel"
                       [ngClass]="{ 'is-invalid' : f.submitted && email.invalid }"
                       required
                       email/>
                <div *ngIf="f.submitted && email.invalid" class="invalid-message">
                  <div class="invalid-form-value" *ngIf="email.errors?.required; else emailStructure">
                    {{ createReservationConstants.REQUIRED_FIELD}}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--  name row -->
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="name"><i class="fa fa-user"></i>Jméno<span class="mandatory">*</span></label>
                <input id="name"
                       name="name"
                       class="form-control"
                       placeholder="Jméno"
                       type="text"
                       [(ngModel)]="reservation.hostInfo.name"
                       #name="ngModel"
                       [ngClass]="{ 'is-invalid' : f.submitted && name.invalid }"
                       required/>
                <div *ngIf="f.submitted && name.invalid" class="invalid-message">
                  <div class="invalid-form-value" *ngIf="name.errors?.required">
                    {{ createReservationConstants.REQUIRED_FIELD}}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--  surname row -->
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="surname"><i class="fa fa-user"></i>Příjmení<span class="mandatory">*</span></label>
                <input id="surname"
                       name="surname"
                       class="form-control"
                       placeholder="Příjmení"
                       type="text"
                       [(ngModel)]="reservation.hostInfo.surname"
                       #surname="ngModel"
                       [ngClass]="{ 'is-invalid' : f.submitted && surname.invalid }"
                       required/>
                <div *ngIf="f.submitted && surname.invalid" class="invalid-message">
                  <div class="invalid-form-value" *ngIf="surname.errors?.required">
                    {{ createReservationConstants.REQUIRED_FIELD}}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--  date and time row -->
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="date"><i class="far fa-calendar-alt"></i>Datum rezervace<span class="mandatory">*</span></label>
                <input id="date"
                       name="date"
                       class="form-control"
                       placeholder=""
                       type="date"
                       [(ngModel)]="reservation.reservationInfo.date"
                       #date="ngModel"
                       [ngClass]="{ 'is-invalid' : f.submitted && (date.invalid || !isDateRight()) }"
                       required/>
                <div *ngIf="f.submitted && (date.invalid || !isDateRight())" class="invalid-message">
                  <div class="invalid-form-value" *ngIf="date.errors?.required; else badDate">
                    {{ createReservationConstants.REQUIRED_FIELD}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="time"><i class="far fa-clock"></i>Čas rezervace<span class="mandatory">*</span></label>
                <input id="time"
                       name="time"
                       class="form-control"
                       placeholder=""
                       type="time"
                       [(ngModel)]="reservation.reservationInfo.time"
                       #time="ngModel"
                       [ngClass]="{ 'is-invalid' : f.submitted && (time.invalid || !isTimeInOpeningHours() || !isTimeRight()) }"
                       required/>
                <div *ngIf="f.submitted && (time.invalid || !isTimeRight())" class="invalid-message">
                  <div class="invalid-form-value" *ngIf="time.errors?.required; else badTime">
                    {{ createReservationConstants.REQUIRED_FIELD}}
                  </div>
                </div>
                <div *ngIf="f.submitted && (time.invalid || !isTimeInOpeningHours())" class="invalid-message">
                  <div class="invalid-form-value" *ngIf="time.errors?.required; else badTime2">
                  </div>
                </div>
                <div *ngIf="f.submitted && (time.invalid || !isTimeBeforeClosing())" class="invalid-message">
                  <div class="invalid-form-value" *ngIf="time.errors?.required; else badTime3">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--  hosts count and visit time row -->
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="hosts"><i class="fas fa-users"></i>Počet hostů<span class="mandatory">*</span></label>
                <input id="hosts"
                       name="hosts"
                       class="form-control"
                       placeholder=""
                       type="number"
                       [(ngModel)]="reservation.reservationInfo.hostsCount"
                       #hostsCount="ngModel"
                       [ngClass]="{ 'is-invalid' : f.submitted && (hostsCount.invalid || !isHostsCountRight()) }"
                       required/>
                <div *ngIf="f.submitted && (hostsCount.invalid || !isHostsCountRight())" class="invalid-message">
                  <div class="invalid-form-value" *ngIf="hostsCount.errors?.required; else badHostsCount">
                    {{ createReservationConstants.REQUIRED_FIELD}}
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="visit-time"><i class="fas fa-question"></i>V restauraci se zdržím/e</label>
                <select id="visit-time" [(ngModel)]="reservation.reservationInfo.expectedLength" name="inRestaurant"
                        class="form-control">
                  <option *ngFor="let timeIn of createReservationConstants.TIME_IN_RESTAURANT" [value]="timeIn.value">
                    {{ timeIn.viewValue }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <!--  submit button -->
          <button type="submit"
                  id="submitButton"
                  class="btn btn-primary btn-fill pull-right">
            Vytvořit rezervaci
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card mlr-auto max-width-create-reservation">
      <div class="card-header">
        <h4 class="card-title">Zrušení rezervace</h4>
      </div>
      <div class="card-body">
        <app-delete-reservation-code></app-delete-reservation-code>
      </div>
    </div>
  </div>

</div>

<ng-template #emailStructure>
  <span class="invalid-form-value">
    {{ createReservationConstants.WRONG_EMAIL_FORMAT }}
  </span>
</ng-template>

<ng-template #badDate>
  <span class="invalid-form-value">
    {{ createReservationConstants.BAD_DATE }}
  </span>
</ng-template>

<ng-template #badHostsCount>
  <span class="invalid-form-value">
    {{ createReservationConstants.BAD_HOST_COUNT }}
  </span>
</ng-template>

<ng-template #badTime>
  <span class="invalid-form-value">
    {{ createReservationConstants.BAD_TIME }}
  </span>
</ng-template>

<ng-template #badTime2>
  <span class="invalid-form-value">
    {{ createReservationConstants.TIME_IS_NOT_IN_OPENING_HOURS }}
  </span>
</ng-template>

<ng-template #badTime3>
  <span class="invalid-form-value">
    {{ createReservationConstants.RESERVATION_BEFORE_CLOSING_TIME }}
  </span>
</ng-template>
