<div class="sidebar-background" [style.backgroundImage]="'url(../../../'+ sidebarBackground +')'"></div>
<div class="sidebar-wrapper">
  <div class="logo">
    <span class="simple-text">
      Restaurace
    </span>
  </div>
  <ul class="nav">
    <!-- unlogged user -->
    <ng-container *ngIf="isMobileMenu()">
      <ng-container *ngFor="let sidebarItem of sidebarItems">
        <li routerLinkActive="nav-item active"
            [routerLinkActiveOptions]="{exact: true}"
            *ngIf="routes.isAccessibleByCurrentUser(sidebarItem.showInNavbar)">
          <a class="nav-link" [routerLink]="[sidebarItem.path]"
             (click)="updateSidebarBackground(sidebarItem.sidebarBackground); hideSidebarOnClick();
             sidebarItem.path === '/login' && logout()">
            <i class="{{sidebarItem.icon}}"></i>
            <p>{{sidebarItem.title}}</p>
          </a>
        </li>
      </ng-container>
      <li class="separator hidden-lg hidden-md" *ngIf="isMobileMenu()"></li>
    </ng-container>
    <ng-container *ngFor="let sidebarItem of sidebarItems">
      <li routerLinkActive="nav-item active"
          [routerLinkActiveOptions]="{exact: true}"
          *ngIf="routes.isAccessibleByCurrentUser(sidebarItem.showInSidebar)">
        <a class="nav-link" [routerLink]="[sidebarItem.path]"
           (click)="updateSidebarBackground(sidebarItem.sidebarBackground); hideSidebarOnClick()">
          <i class="{{sidebarItem.icon}}"></i>
          <p>{{sidebarItem.title}}</p>
        </a>
      </li>
    </ng-container>
  </ul>
</div>
