<div class="row" *ngIf="this.dataLoaded">
  <div class="col-md-12">
    <div class="card mlr-auto max-width-order-items">
      <div class="card-header">
        <h4 class="card-title">
          Objednávky
        </h4>
      </div>
      <div class="card-body" *ngIf="orderItemsList?.length === 0">
        <div class="row">
          <div class="col-sm-12">
            V databázi se nenachází žádná objednávka.
          </div>
        </div>
      </div>
      <div class="card-body table-full-width table-responsive custom-card-body no-padding-sm-scr"
           *ngIf="orderItemsList?.length !== 0">
        <ng-container *ngFor="let orderItem of orderItemsList; index as i">
          <div>
            <h5 class="meal-name" *ngIf="i === 0 || orderItem.name !== orderItemsList[i-1].name">
              {{orderItem.name}}
              <ng-container *ngIf="orderItem.grammage">{{' - ' + orderItem.grammage}}</ng-container>
            </h5>
          </div>
          <div class="my-grid grid-stripped" [ngClass]="orderItem.specialRequirements ? 'my-grid-two-lines' : 'my-grid-one-line'">
            <div class="grid-cell place-id">
              {{orderItem.placeTypeCzech + ' ' + orderItem.placeId}}
            </div>
            <div class="grid-cell created-at">
              <span class="date-style">Vytvořeno: <b>{{this.datePipe.transform(orderItem.createdAt, 'HH:mm')}}</b></span>
            </div>
            <button (click)="changeState(orderItem)"
                    class="btn btn-fill status"
                    [ngClass] = "{
                     'btn-danger' : orderItem.state === 'WAITING'
                    ,'btn-success' : (orderItem.state === 'PREPARING' && (this.authService.hasUserSpecificRole(this.authService.authConstants.CHEF_NAME) ||
                                     this.authService.hasUserSpecificRole(this.authService.authConstants.COOK_NAME))) || (orderItem.state === 'FINISHED' &&
                                     this.authService.hasUserSpecificRole(this.authService.authConstants.WAITER_NAME))
                    ,'btn-info' : orderItem.state === 'PREPARING' && this.authService.hasUserSpecificRole(this.authService.authConstants.WAITER_NAME)
                    ,'noHover' : orderItem.state === 'RELEASED' ||
                                     ((orderItem.state === 'WAITING' || orderItem.state === 'PREPARING') &&
                                     this.authService.hasUserSpecificRole(this.authService.authConstants.WAITER_NAME) &&
                                     !this.authService.hasUserSpecificRole(this.authService.authConstants.COOK_NAME) &&
                                     !this.authService.hasUserSpecificRole(this.authService.authConstants.CHEF_NAME))
                    }">
              {{ this.orderItem.stateCzech}}
            </button>
            <div class="grid-cell special-requirements" *ngIf="orderItem.specialRequirements">
              <span class="title">Speciální požadavky:</span><br>
              {{orderItem.specialRequirements}}
            </div>
          </div>
          <hr class="no-margin" *ngIf="i !== orderItemsList.length - 1 && orderItem.name === orderItemsList[i+1].name">
        </ng-container>
      </div>
    </div>
  </div>
</div>
