.my-grid {
  display: grid;
  grid-template-columns: minmax(100px, max-content) auto minmax(172px, max-content);
  grid-template-rows: auto auto;
  grid-column-gap: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  border: black;

  .grid-cell {
    align-self: center;
    color: #9A9A9A;
  }
}

.my-grid-one-line {
  grid-template-areas: 'place-id created-at status';
}

.my-grid-two-lines {
  grid-template-areas: 'place-id created-at status' 'place-id special-requirements status';
}

.place-id {
  grid-area: place-id;
  justify-self: left;
  padding-left: 15px;
}

.created-at {
  grid-area: created-at;
  justify-self: left;

  .date-style {
    color: #4f4f4f !important;
  }
}

.status {
  grid-area: status;
  border-radius: 0;
  padding-right: 15px;
  justify-self: stretch;
  align-self: stretch;
  color: white !important;
}

.special-requirements {
  grid-area: special-requirements;
  justify-self: left;

  .status {
    font-weight: bold;
  }
}

@media (max-width: 510px) {
  .grids-container {
    .my-grid {
      grid-template-columns: auto !important;
      grid-row-gap: 10px;
      padding-top: 10px;
    }

    .my-grid-one-line {
      grid-template-areas: 'place-id' 'created-at' 'status';
    }

    .my-grid-two-lines {
      grid-template-areas: 'place-id' 'created-at' 'special-requirements' 'status';
    }
  }

  .created-at {
    padding-left: 15px;
  }

  .status {
    padding-left: 15px;
  }

  .special-requirements {
    padding-left: 15px;
  }
}
