<div class="wrapper">
  <div class="sidebar" data-color="red" data-image="">
    <app-sidebar #sidebar (hideSidebar)="navbar.sidebarClose()"></app-sidebar>
  </div>
  <div id="main-panel" class="main-panel" (scroll)="scrollToTopButton.checkScroll()">
    <app-navigation-bar #navbar (updateBackgroundEvent)="sidebar.updateSidebarBackground($event)"></app-navigation-bar>
    <div class="content">
      <div class="container-fluid">
        <router-outlet></router-outlet>
        <app-scroll-to-top #scrollToTopButton></app-scroll-to-top>
      </div>
    </div>
  </div>
</div>
