.category-name {
  padding-left: 8px;
  padding-top: 25px;
  background-color: #ff646d;
  margin: 0;
  padding-bottom: 15px;
  font-weight: 600;
  color: white;
}

.cell-padding {
  td {
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
  }
  .action-button {
    padding: 0;
    button {
      height: auto;
      padding: 14px 15px;
      border-radius: 0;
      margin-top: 1px;
      margin-bottom: 1px;
    }
  }
  .table-content {
    width: 100%;
  }
}

.card-footer {
  .row {
    display: block;
    div {
      padding: 0 8px;
    }
    @media (max-width: 768px) {
      .col-md-6 {
        &:first-of-type {
          padding-bottom: 8px !important;
        }
      }
    }
    @media (max-width: 576px) {
      .col-sm-6 {
        &:first-of-type {
          padding-bottom: 8px !important;
        }
      }
      .col-sm-8 {
        &:first-of-type {
          padding-bottom: 8px !important;
        }
      }
    }
  }
}

.table-header-button {
  padding-right: 19px !important;
}

.buttons-vertical {
  display: block !important;
  max-width: 52px;
}
