<div class="row">
  <div class="col-md-12">
    <div class="card mlr-auto max-width-new-employee">
      <div class="card-header">
        <h4 class="card-title">{{ employeesConstants.CREATE_EMPLOYEE_ACCOUNT }}</h4>
      </div>
      <div class="card-body">
        <form name="form"
              #f="ngForm"
              (ngSubmit)="f.form.valid && isAnyRoleSet() && createNewEmployee()"
              novalidate>
          <!--  name row -->
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="name"><i class="fa fa-user"></i>Křestní jméno<span class="mandatory">*</span></label>
                <input id="name"
                       name="name"
                       class="form-control"
                       placeholder="Jméno"
                       type="text"
                       [(ngModel)]="newEmployeeModel.employeeInfo.name"
                       #name="ngModel"
                       [ngClass]="{ 'is-invalid' : f.submitted && name.invalid }"
                       required/>
                <div *ngIf="f.submitted && name.invalid"
                     class="invalid-message">
                  <div class="invalid-form-value"
                       *ngIf="name.errors?.required">
                    {{ registerConstants.REQUIRED_FIELD }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--  surname row -->
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="surname"><i class="fa fa-user"></i>Příjmení<span class="mandatory">*</span></label>
                <input id="surname"
                       name="surname"
                       class="form-control"
                       placeholder="Příjmení"
                       type="text"
                       [(ngModel)]="newEmployeeModel.employeeInfo.surname"
                       #surname="ngModel"
                       [ngClass]="{ 'is-invalid' : f.submitted && surname.invalid }"
                       required/>
                <div *ngIf="f.submitted && surname.invalid"
                     class="invalid-message">
                  <div class="invalid-form-value"
                       *ngIf="surname.errors?.required">
                    {{ registerConstants.REQUIRED_FIELD }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--  email row -->
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="email"><i class="fa fa-envelope"></i>Emailová adresa<span class="mandatory">*</span></label>
                <input id="email"
                       name="email"
                       class="form-control"
                       placeholder="Email"
                       type="email"
                       [(ngModel)]="newEmployeeModel.employeeInfo.email"
                       #email="ngModel"
                       [ngClass]="{ 'is-invalid' : f.submitted && email.invalid }"
                       required
                       email/>
                <div *ngIf="f.submitted && email.invalid"
                     class="invalid-message">
                  <div class="invalid-form-value"
                       *ngIf="email.errors?.required; else emailStructure">
                    {{ registerConstants.REQUIRED_FIELD }}
                  </div>
                </div>
              </div>
            </div>
          </div>


          <!--  employee role row -->
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label><i class="fa fa-id-badge"></i>Přístupová práva</label>
                <div class="my-grid">
                  <div *ngFor="let role of employeesConstants.ROLES_ARRAY"
                       class="grid-cell">
                    <label>{{ role.czechName }}</label>
                  </div>
                  <div *ngFor="let role of employeesConstants.ROLES_ARRAY; let i = index"
                       class="grid-cell">
                    <label class="switch">
                      <input type="checkbox"
                             [checked]="newEmployeeModel.roles[i].hasRole"
                             (change)="newEmployeeModel.roles[i].hasRole = !newEmployeeModel.roles[i].hasRole"/>
                      <span class="slider round"></span>
                    </label>
                  </div>
                </div>
                <div *ngIf="f.submitted && !isAnyRoleSet()"
                     class="invalid-message">
                  <div class="invalid-form-value">
                    {{ employeesConstants.SELECT_CHECKBOX }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--  sumbit button -->
          <button type="submit" id="submitButton" class="btn btn-primary btn-fill pull-right">
            {{ employeesConstants.CREATE_EMPLOYEE_ACCOUNT_BUTTON }}
          </button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #emailStructure>
  <span class="invalid-form-value">
    {{ registerConstants.WRONG_EMAIL_FORMAT }}
  </span>
</ng-template>
