.grids-container {
  .my-grid {
    display: grid;
    grid-template-columns: 65px auto 60px;;
    grid-template-areas: 'grammage name price';
    grid-template-rows: auto auto;
    grid-column-gap: 10px;
    padding: 10px 15px;
    border: black;

    .grid-cell {
      align-self: center;
      color: #9A9A9A;
    }
  }
}

.grammage {
  grid-area: grammage;
  justify-self: left;
}


.price {
  grid-area: price;
  justify-self: right;
}

.name {
  grid-area: name;
  justify-self: left;
}

.total-price {
  font-size: 28px;
  color: #9A9A9A;
  padding-top: 20px;
  padding-bottom: 15px;
  line-height: 1.7;
}

.name-style {
  text-transform: none !important;
}

.custom-header {
  background-color: white;
  padding: 15px;
  text-align: center;
}
