<div class="row" *ngIf="this.dataLoaded">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header custom-header">
        <h3 class="card-title">Místo {{this.id}}</h3>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="dataLoaded">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">{{billingConstants.BILL}}</h4>
        <p class="card-category">Položky k zaplacení</p>
      </div>
      <div class="card-body" *ngIf="mealsToPay?.length === 0">
        <div class="row">
          <div class="col-sm-12">{{billingConstants.EMPTY_BILL}}</div>
        </div>
      </div>
      <div class="card-body table-full-width table-responsive custom-card-body no-padding-sm-scr"
           *ngIf="mealsToPay?.length !== 0">
        <ng-container *ngFor="let mealToPay of mealsToPay">
          <div>
            <h5 class="category-name">{{mealToPay.categoryName}}</h5>
          </div>
          <div class="grids-container">
            <ng-container *ngFor="let receiptsItem of mealToPay.receiptsItems">
              <div class="my-grid grid-stripped"
                   (click)="moveItemToPayOrBack(receiptsItem, mealToPay, mealsToPay, mealsFromOrder, false)">
                <div class="grid-cell grammage">
                  {{receiptsItem.grammage}}
                </div>
                <div class="grid-cell name name-style">
                  {{receiptsItem.name}}
                </div>
                <div class="grid-cell price">
                  {{receiptsItem.price}}&nbsp;Kč
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>
        <div class="card-footer">
          <div class="total-price">
            Celkem k zaplacení: <span class="name-style">{{totalPrice}}&nbsp;Kč</span>
          </div>
          <br>
          <div class="pull-right">
            <button id="submitButton" type="button" class="btn btn-primary btn-fill"
                    (click)="makePayment()">
              {{billingConstants.BUTTON_PAY}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">{{billingConstants.TABLE}}</h4>
        <p class="card-category">Kliknutím na položku v seznamu položku přidáte k platbě</p>
      </div>
      <div class="card-body custom-card-body" *ngIf="mealsFromOrder?.length === 0">
        <div class="row">
          <div class="col-sm-12">{{billingConstants.EMPTY_TABLE}}</div>
        </div>
      </div>
      <div class="card-body table-full-width table-responsive custom-card-body no-padding-sm-scr"
           *ngIf="mealsFromOrder?.length !== 0">
        <ng-container *ngFor="let mealFromOrder of mealsFromOrder">
          <div>
            <h5 class="category-name">{{mealFromOrder.categoryName}}</h5>
          </div>
          <div class="grids-container">
            <ng-container *ngFor="let receiptsItem of mealFromOrder.receiptsItems">
              <div class="my-grid grid-stripped"
                   (click)="moveItemToPayOrBack(receiptsItem, mealFromOrder, mealsFromOrder, mealsToPay, true)">
                <div class="grid-cell grammage">
                  {{receiptsItem.grammage}}
                </div>
                <div class="grid-cell name name-style">
                  {{receiptsItem.name}}
                </div>
                <div class="grid-cell price">
                  {{receiptsItem.price}}&nbsp;Kč
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
