<div class="row" *ngIf="this.dataLoaded">
  <div class="col-md-12">
    <div class="card mlr-auto max-width-authentication">
      <div class="card-header">
        <h4 class="card-title">{{ editProfileConstants.EDIT_PROFILE_TITLE }}</h4>
      </div>
      <div class="card-body">
        <form name="form"
              #f="ngForm"
              (ngSubmit)="f.form.valid && arePasswordsSame() && updateUserData()"
              novalidate>
          <!--  name row -->
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="name"><i class="fa fa-user"></i>Křestní jméno</label>
                <input id="name"
                       name="name"
                       class="form-control"
                       placeholder="Jméno"
                       type="text"
                       [(ngModel)]="editProfile.name"
                       #name="ngModel"
                       [ngClass]="{ 'is-invalid' : f.submitted && name.invalid }"
                       required/>
                <div *ngIf="f.submitted && name.invalid"
                     class="invalid-message">
                  <div class="invalid-form-value"
                       *ngIf="name.errors?.required">
                    {{ editProfileConstants.REQUIRED_FIELD }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--  surname row -->
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="surname"><i class="fa fa-user"></i>Příjmení</label>
                <input id="surname"
                       name="surname"
                       class="form-control"
                       placeholder="Příjmení"
                       type="text"
                       [(ngModel)]="editProfile.surname"
                       #surname="ngModel"
                       [ngClass]="{ 'is-invalid' : f.submitted && surname.invalid }"
                       required/>
                <div *ngIf="f.submitted && surname.invalid"
                     class="invalid-message">
                  <div class="invalid-form-value"
                       *ngIf="surname.errors?.required">
                    {{ editProfileConstants.REQUIRED_FIELD }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--  email row -->
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="email"><i class="fa fa-envelope"></i>Emailová adresa</label>
                <input id="email"
                       name="email"
                       class="form-control"
                       placeholder="Email"
                       type="email"
                       [(ngModel)]="editProfile.email"
                       #email="ngModel"
                       [ngClass]="{ 'is-invalid' : f.submitted && email.invalid }"
                       required
                       email/>
                <div *ngIf="f.submitted && email.invalid"
                     class="invalid-message">
                  <div class="invalid-form-value"
                       *ngIf="email.errors?.required; else emailStructure">
                    {{ editProfileConstants.REQUIRED_FIELD }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--  old password row -->
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="password"><i class="fa fa-lock"></i>Zadejte staré heslo</label>
                <input id="oldPassword"
                       name="oldPassword"
                       class="form-control"
                       placeholder="Staré heslo"
                       type="password"
                       [(ngModel)]="editProfile.oldPassword"
                       #oldPassword="ngModel"
                       [ngClass]="{ 'is-invalid' : f.submitted && oldPassword.invalid }"
                       />
<!--                       minlength="5"/>-->
                <!--                       required-->
                <div *ngIf="f.submitted && oldPassword.invalid"
                     class="invalid-message">
<!--                  <div class="invalid-form-value"-->
<!--                       *ngIf="oldPassword.errors?.required">-->
<!--                    {{ editProfileConstants.REQUIRED_FIELD }}-->
<!--                  </div>-->
                </div>
              </div>
            </div>
          </div>

          <!--  password row -->
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="password"><i class="fa fa-lock"></i>Zadejte heslo</label>
                <input id="password"
                       name="password"
                       class="form-control"
                       placeholder="Heslo"
                       type="password"
                       [(ngModel)]="editProfile.password"
                       #password="ngModel"
                       [ngClass]="{ 'is-invalid' : f.submitted && password.invalid }"
                       />
<!--                       minlength="5"/>-->
<!--                required-->
                <div *ngIf="f.submitted && password.invalid"
                     class="invalid-message">
                  <div class="invalid-form-value"
                       *ngIf="password.errors?.required; else passwordTooShort">
                    {{ editProfileConstants.REQUIRED_FIELD }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--  password row -->
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="repeatedPassword"><i class="fa fa-lock"></i>Zopakujte heslo</label>
                <input id="repeatedPassword"
                       name="repeatedPassword"
                       class="form-control"
                       placeholder="Zopakovat heslo"
                       type="password"
                       [(ngModel)]="repeatedPassowrd"
                       #repeatedPassword="ngModel"
                       [ngClass]="{ 'is-invalid' : f.submitted && (repeatedPassword.invalid || !arePasswordsSame())}"
                       />
<!--                       required/>-->
                <div *ngIf="f.submitted && (repeatedPassword.invalid || !arePasswordsSame())"
                     class="invalid-message">
                  <div class="invalid-form-value"
                       *ngIf="repeatedPassword.errors?.required; else passwordsNotSame">
                    {{ editProfileConstants.REQUIRED_FIELD }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--  sumbit button -->
          <button type="submit" id="submitButtonEdit" class="btn btn-primary btn-fill pull-right">
            {{ editProfileConstants.EDIT_PROFILE_BUTTON }}
          </button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #emailStructure>
  <span class="invalid-form-value">
    {{ editProfileConstants.WRONG_EMAIL_FORMAT }}
  </span>
</ng-template>

<ng-template #passwordsNotSame>
  <span class="invalid-form-value">
    {{ editProfileConstants.PASSWORDS_NOT_SAME }}
  </span>
</ng-template>

<ng-template #passwordTooShort>
  <span class="invalid-form-value">
    {{ editProfileConstants.PASSWORD_TOO_SHORT }}
  </span>
</ng-template>

