.max-width-order-items {
  max-width: 800px;
}

.meal-name {
  padding-left: 8px;
  padding-top: 25px;
  background-color: #ff646d;
  margin: 0;
  padding-bottom: 15px;
  font-weight: 600;
  color: white;
}
