<div class="row" *ngIf="this.dataLoaded">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header custom-header">
        <h3 class="card-title">Místo {{this.placeId}}</h3>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="this.dataLoaded">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Objednávka</h4>
        <p class="card-category">Kliknutím na položku v objednávce položku z objednávky odstraníte</p>
      </div>
      <div class="card-body custom-card-body" *ngIf="categoriesOrderItems?.length === 0">
        <div class="row">
          <div class="col-sm-12">
            V objednávce nejsou žádné položky.
          </div>
        </div>
      </div>
      <div id="billing-form" class="card-body table-full-width table-responsive custom-card-body no-padding-sm-scr"
           *ngIf="categoriesOrderItems?.length !== 0">
        <ng-container *ngFor="let category of categoriesOrderItems">
          <div>
            <h5 class="category-name">{{ category.categoryName }}</h5>
          </div>
          <div class="grids-container">
            <ng-container *ngFor="let orderItem of category.orderItems">
              <div class="my-grid grid-bill grid-stripped"
                   (click)="removeOrderItem(orderItem, category)">
                <div class="grid-cell grammage">
                  {{orderItem.grammage}}
                </div>
                <div class="grid-cell name name-style">
                  {{orderItem.name}}
                </div>
                <div class="grid-cell price">
                  {{orderItem.price}}&nbsp;Kč
                </div>
                <div class="grid-cell state">
                  {{ getState(orderItem.state)}}
                </div>
                <div class="grid-cell action-button">
                  <button type="button"
                          (click)="showPopupAddSpecialRequirements(placeId, orderItem);
                          $event.stopPropagation()"
                          class="btn btn-info btn-fill btn-social">
                    <span class="fas fa-edit"></span>
                  </button>
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Pokrmy</h4>
        <p class="card-category">Kliknutím na položku v seznamu položku přidáte do objednávky</p>
      </div>
      <div class="card-body custom-card-body" *ngIf="categoriesMenuItems?.length === 0">
        <div class="row">
          <div class="col-sm-12">
            V menu nejsou žádné položky. Nelze nic přidat.
          </div>
        </div>
      </div>
      <div class="card-body table-full-width table-responsive custom-card-body no-padding-sm-scr"
           *ngIf="categoriesMenuItems?.length !== 0">
        <ng-container *ngFor="let category of categoriesMenuItems">
          <div>
            <h5 class="category-name">{{ category.categoryName }}</h5>
          </div>
          <div class="grids-container">
            <ng-container *ngFor="let menuItem of category.menuItems">
              <div class="my-grid grid-meals grid-stripped" (click)="addOrderItem(menuItem, category)">
                <div class="grid-cell grammage">
                  {{menuItem.grammage}}
                </div>
                <div class="grid-cell name name-style">
                  {{menuItem.name}}
                </div>
                <div class="grid-cell price">
                  {{menuItem.price}}&nbsp;Kč
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
