.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 23px;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  &:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  /* Rounded sliders */
  &.round {
    border-radius: 34px;
    &:before {
      border-radius: 50%;
    }
  }
}

input {
  &:checked + .slider {
    background-color: #2196F3;
  }
  &:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  &:checked + .slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
  }
}

.grid-cell {
  display: grid;
  align-items: center;
  justify-items: center
}

.card label {
  margin: 0;
}

.min-with-employees {
  min-width: 610px;
}
