.grids-container {
  .my-grid {
    display: grid;
    grid-template-columns: 65px auto 60px;
    grid-template-rows: auto auto;
    grid-template-areas: 'grammage name price' '. meal-description .';
    grid-column-gap: 10px;
    padding: 3px 15px;

    .grid-cell {
      align-self: center;
      color: #9A9A9A;
    }
  }
}

.grammage {
  grid-area: grammage;
  justify-self: left;
}

.name {
  grid-area: name;
  justify-self: left;
}

.price {
  grid-area: price;
  justify-self: right;
}

.meal-description {
  grid-area: meal-description;
}

@media (max-width: 500px) {
  .grids-container {
    .my-grid {
      grid-template-areas: 'grammage name price' 'meal-description meal-description meal-description';
    }
  }
}

.max-width-menu {
  max-width: 800px;
}
