<div class="row" *ngIf="this.dataLoaded">
  <div class="col-md-12">
    <div class="card mlr-auto max-width-menu-items">
      <div class="card-header">
        <h4 class="card-title">
          {{ menuConstants.MENU_ITEMS }}
        </h4>
        <hr *ngIf="this.authService.hasUserSpecificRole(authService.authConstants.CHEF_NAME)">
      </div>
      <div class="card-actions-top" *ngIf="this.authService.hasUserSpecificRole(authService.authConstants.CHEF_NAME)">
        <button type="button"
          (click)="navigateToNewMenuItem()"
                class="btn btn-primary btn-fill pull-right">
          {{ menuConstants.ADD_MENU_ITEM }}
        </button>
      </div>
      <div class="card-body"
        *ngIf="this.categories.length === 0">
        <div class="row">
          <div class="col-sm-12">
            {{ menuConstants.NO_MENU_ITEMS_IN_DB}}
          </div>
        </div>
      </div>
      <div class="card-body table-full-width table-responsive custom-card-body no-padding-sm-scr"
        *ngIf="this.categories.length !== 0">
        <ng-container *ngFor="let category of this.categories">
          <div>
            <h5 class="category-name">{{ category.categoryName }}</h5>
          </div>
          <table class="table table-hover table-striped table-without-margin">
            <tbody class="cell-padding">
              <tr *ngFor="let menuItem of category.menuItems">
                <td class="table-content">
                  {{menuItem.name}}
                </td>
                <td class="action-button">
                  <button type="button"
                    *ngIf="this.authService.hasUserSpecificRole(authService.authConstants.CHEF_NAME) ||
                      this.authService.hasUserSpecificRole(authService.authConstants.COOK_NAME)"
                    (click)="showPopupMenuItemInfo(menuItem.menuItemId)"
                          class="btn btn-info btn-fill btn-social">
                    <span class="fa fa-info"></span>
                  </button>
                  <button type="button"
                    *ngIf="this.authService.hasUserSpecificRole(authService.authConstants.CHEF_NAME)"
                    (click)="navigateToEditMenuItem(menuItem)"
                          class="btn btn-primary btn-fill btn-social">
                    <span class="fa fa-edit"></span>
                  </button>
                  <button type="button"
                    *ngIf="this.authService.hasUserSpecificRole(authService.authConstants.CHEF_NAME)"
                    (click)="sendDeleteMenuItem(menuItem, category)"
                          class="btn btn-danger btn-fill btn-social">
                    <span class="fa fa-trash"></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>
      </div>
    </div>
  </div>
</div>
