<div class="row">
  <div class="col-md-12">
    <div class="card mlr-auto max-width-authentication">
      <div class="card-header">
        <h4 class="card-title">Přihlásit se do systému</h4>
      </div>
      <div class="card-body">
        <form name="form"
              #f="ngForm"
              (ngSubmit)="f.form.valid && sendLoginData()"
              novalidate>
          <!--  email row -->
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="email"><i class="fa fa-envelope"></i>Emailová adresa</label>
                <input id="email"
                       name="email"
                       class="form-control"
                       placeholder="Email"
                       type="email"
                       [(ngModel)]="loginModel.email"
                       #email="ngModel"
                       [ngClass]="{ 'is-invalid' : f.submitted && email.invalid }"
                       required
                       email/>
                <div *ngIf="f.submitted && email.invalid"
                     class="invalid-message">
                  <div class="invalid-form-value"
                       *ngIf="email.errors?.required; else emailStructure">
                    {{ loginConstants.REQUIRED_FIELD }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--  password row -->
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="password"><i class="fa fa-lock"></i>Heslo</label>
                <input id="password"
                       name="password"
                       class="form-control"
                       placeholder="Heslo"
                       type="password"
                       [(ngModel)]="loginModel.password"
                       #password="ngModel"
                       [ngClass]="{ 'is-invalid' : f.submitted && password.invalid }"
                       required/>
                <div *ngIf="f.submitted && password.invalid"
                     class="invalid-message">
                  <div class="invalid-form-value"
                       *ngIf="password.errors?.required">
                    {{ loginConstants.REQUIRED_FIELD }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--  sumbit button -->
          <button type="submit" id="submitButton"
                  class="btn btn-primary btn-fill pull-right">{{ loginConstants.LOG_IN_BUTTON }}</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>
<ng-template #emailStructure>
  <span class="invalid-form-value">
    {{ loginConstants.WRONG_EMAIL_FORMAT }}
  </span>
</ng-template>
