.my-grid {
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-gap: 10px;
}

.grid-cell {
  display: grid;
  align-items: center;
  justify-items: center
}

.card label {
  margin: 0;
}

.min-with-employees {
  min-width: 610px;
}
