/* You can add global styles to this file, and also import other style files */
.invalid-form-value {
  color: red;
}

.card {
  label {
    i {
      margin-right: 5px;
    }
  }
}

.invalid-message {
  margin-left: 5px;
  margin-top: 5px;
  font-weight: bold !important;
}

.mlr-auto {
  margin-left: auto;
  margin-right: auto;
}

.table-responsive {
  overflow-x: auto !important;
}

.table-without-margin {
  margin: 0 !important;
}

.custom-card-body {
  margin-bottom: 0 !important;
  overflow: hidden;
}

.grid-stripped {
  &:nth-child(odd) {
    background-color: rgba(0,0,0,.05);
  }
  &:hover {
    background-color: rgba(0,0,0,.075);
  }
}

.noHover{
  pointer-events: none !important;
}

html {
  overflow: hidden;
}

@media (max-width: 991px) {
  .main-panel {
    & > .content {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  .no-padding-sm-scr {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.card-actions-top {
  padding-left: 15px;
  padding-right: 15px;
}

.btn {
  cursor: pointer;
}

.swal2-close:focus {
  outline: none;
  transform: none;
  background: 0 0;
  color: #f27474;
}

.clickable {
  cursor: pointer;
}

.no-margin {
  margin: 0;
}

.popup-button-style {
  width: 150px;
  height: 150px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 1.25em;
}
.popup-icon-style {
  font-size: 40px;
  padding-bottom: 20px;
}

/* Restaurant scheme */
.fill-wall-gray {
  fill: #808080;
}

.f-white-s-black {
  fill: #FFFFFF;
  stroke: #000000;
}

.fill-black {
  fill: #000000;
}

.fill-white {
  fill: #FFFFFF;
}

.f-none-s-black {
  fill: none;
  stroke: #000000;
}

.place-hover:hover {
  fill: #FF9500;
  stroke: #000000;
  cursor: pointer;
}

.place-free, .place-order {
  fill: #87CB16;
  stroke: #000000;
}

.place-occupied {
  fill: #FF4A55;
  stroke: #000000;
}

.place-not-available {
  fill: #d0d0d0;
  stroke: #000000;
  cursor: auto;
}

.place-no-order {
  fill: #03A9F4;
  stroke: #000000;
}

.places-background {
  fill: transparent !important;
  stroke: none;
}

.svg-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 77%; /* custom */
}

.svg-content {
  position: absolute;
  top: 0;
  left: 0;
}

.name-style {
  text-transform: uppercase;
  font-weight: bold;
  color: #4f4f4f !important;
}

.mandatory {
  color: red;
  font-size: medium;
  font-weight: 800;
}
