<div class="row" *ngIf="dataLoaded">
  <div class="col-md-12">
    <div class="card mlr-auto min-max-width-reservation">
      <div class="card-header">
        <h4 class="card-title">{{reservationsConstants.RESERVATIONS_HEADER}}</h4>
        <p class="card-category">
          <ng-container *ngIf="isAccessible(authConstants.WAITER_NAME)">
            Pokud byl již stůl označen jako rezervován, můžete rezervaci zaškrnutím označit jako vyřízenou.
          </ng-container>
          <ng-container *ngIf="isAccessible(authConstants.LOGGED_USER_NAME)">
            Zde můžete nalézt seznam všech vašich rezervací.<br>Zrušení rezervace provedete kliknutím na ikonu vpravo u dané rezervace.
          </ng-container>
        </p>
        <hr *ngIf="isAccessible(authConstants.WAITER_NAME)">
      </div>
      <div class="card-actions-top" *ngIf="isAccessible(authConstants.WAITER_NAME)">
        <button routerLink="/reservation"
           class="btn btn-primary btn-fill pull-right">
          {{reservationsConstants.NEW_RESERVATION}}
        </button>
      </div>
      <div class="card-body" *ngIf="reservationsModel.length === 0">
        <div class="row">
          <div class="col-sm-12">{{reservationsConstants.NO_RESERVATION}}</div>
        </div>
      </div>
      <div class="card-body table-full-width table-responsive custom-card-body no-padding-sm-scr"
           *ngIf="reservationsModel.length !== 0">
        <div class="grids-container">
          <div class="my-grid grid-stripped"
            *ngFor="let reservation of reservationsModel"
            [ngClass]="{
                  'opacity noHover' : isDisabled(reservation.reservationState)
                }">
            <div class="grid-cell confirm-checkbox" *ngIf="isAccessible(authConstants.WAITER_NAME)">
              <div class="form-check">
                <label class="form-check-label">
                  <input id="{{'checkbox-' + reservation.reservationId}}"
                         class="form-check-input" type="checkbox"
                         [checked]="isFinished(reservation.reservationState)"
                         (change)="switchState(reservation)"
                         [disabled]="isDisabled(reservation.reservationState)">
                  <span class="form-check-sign"></span>
                </label>
              </div>
            </div>
            <div class="grid-cell reservation-time">
              Datum: {{getDate(reservation.date)}}
              <br>
              Čas: {{getTime(reservation.date)}}
            </div>
            <div class="grid-cell reservation-details">
              {{getReservationType(reservation.placeType)}} {{reservation.placeId}}
              <br>
              Očekávaný čas návštěvy: {{getExpectedTime(reservation.expectedTime)}}
            </div>
            <div class="grid-cell host-info">
              {{reservation.hostInfo.email}}
              <br>
              {{reservation.hostInfo.name + ' ' + reservation.hostInfo.surname}}
            </div>
            <div class="grid-cell canceled-reservation"
                 *ngIf="reservation.reservationState === 'DENIED'">
              <b>{{reservationsConstants.CANCELED_RESERVATION}}</b>
            </div>
            <div class="grid-cell delete-button">
              <button id="{{'delete-button-' + reservation.reservationId}}"
                      type="button" rel="tooltip" title="Zrušit rezervaci"
                      class="btn btn-danger btn-fill btn-round btn-social"
                      (click)="sendNewStateData('DENIED', reservation)"
                      [disabled]="isDisabled(reservation.reservationState)"
                      style="opacity: 1">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

