.grids-container {
  .my-grid {
    display: grid;
    grid-template-columns: minmax(min-content, max-content) minmax(min-content, 6fr) minmax(135px, 9fr) minmax(175px, 10fr) minmax(min-content, max-content);
    grid-template-areas: 'confirm-checkbox reservation-time reservation-details host-info delete-button' 'confirm-checkbox canceled-reservation canceled-reservation canceled-reservation delete-button';
    grid-template-rows: auto auto;
    grid-column-gap: 15px;
    padding: 10px;
    border: black;

    .grid-cell {
      align-self: center;
    }
  }
}

.confirm-checkbox {
  grid-area: confirm-checkbox;
  justify-self: left;
  width: 25px;
}

.reservation-time {
  grid-area: reservation-time;
  justify-self: left;
}

.reservation-details {
  grid-area:  reservation-details;
  justify-self: left;
}

.host-info {
  grid-area: host-info;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.delete-button {
  grid-area: delete-button;
  justify-self: right;
}

.canceled-reservation {
  grid-area: canceled-reservation;
  justify-self: left;
  padding-top: 10px;
}

.reservation-details {
  align-items: center;
}

.min-max-width-reservation {
  min-width: 260px;
  max-width: 1000px;
}

.opacity {
  opacity: 50%;
}

.form-check {
  left: -6px;
}

@media (max-width: 583px) {
  .grids-container {
    .my-grid {
      grid-template-columns: minmax(min-content, max-content) auto minmax(min-content, max-content);
      grid-template-areas: 'confirm-checkbox reservation-time delete-button' 'confirm-checkbox reservation-details delete-button' 'confirm-checkbox host-info delete-button' '. canceled-reservation .';
      grid-template-rows: auto auto auto auto;
      grid-column-gap: 10px;
      grid-row-gap: 8px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .form-check {
    left: -8px;
  }
}
