<form name="form"
      #f=ngForm
      (ngSubmit)="f.form.valid && sendCodeForDeleteReservation()"
      novalidate>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="code"><i class="fa fa-key"></i>Kód pro smazání rezervace<span class="mandatory">*</span></label>
        <input
          id="code"
          name="code"
          placeholder="Vložte kód"
          class="form-control"
          type="text"
          [(ngModel)]="codeForDelete.code"
          #name="ngModel"
          [ngClass]="{ 'is-invalid' : f.submitted && name.invalid }"
          required/>
        <div *ngIf="f.submitted && name.invalid" class="invalid-message">
          <div class="invalid-form-value" *ngIf="name.errors?.required">
            Toto pole je povinné
          </div>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary btn-fill pull-right">
    Odeslat
  </button>
</form>


